
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
    overflow-y:auto !important;
    overflow-x:hidden !important;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}

.container {
    left: 50%;
    position:absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
.loign-wapper{
    background-image: url("../img/back.png");
    background-size: cover;
    height:100vh;
}

#login {
    width: 280px;
    margin: auto;
}

#login form span {
    /* background-color: #363b41; */
    /* border-radius: 3px 0px 0px 3px; */
    color: #bc1818;
    display: block;
    float: left;
    /* height: 50px; */
    /* line-height: 50px; */
    text-align: center;
    /* width: 50px; */
    margin: 0;
}

#login form input {
    height: 50px;
}

#login form input[type="text"], input[type="password"] {
    border-radius: 0px 3px 3px 0px;
    color: #18BC9C;
    padding: 0 16px;
    width: 100%;
}

#login form input[type="button"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #00a0e0;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
    border-radius:30px ;
}

#login form input[type="button"]:hover {
    background-color: #00a0e0;
}

#login > p {
    text-align: center;
}

#login > p span {
    padding-left: 5px;
}

#login #submit {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #00a0e0;
    color: #eee;
    font-weight: bold;
    margin-bottom: 100px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 30px;
    padding: 15px 0;
}

#login .form-group{
    margin-bottom: 10px;
}

/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

*{ margin: 0; padding: 0;}

/*#clouds{*/.kid
    /*padding: 50px 0;*/
    /*background: #18bc9c;*/
    /*background: -webkit-linear-gradient(top, #f8d42f 0%, #fff 100%);*/
    /*background: -linear-gradient(top, #f8d42f 0%, #18bc9c 100%);*/
    /*background: -moz-linear-gradient(top, #f8d42f 0%, #18bc9c 100%);*/
/*}*/

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px; top: -200px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px; top: -250px;

    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -150px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
.bottom {
    width:100%; margin:0 auto; text-align:center; padding:10px 0; height:100px; position:absolute;
}
.bottom h3 {color:white; font-size:30px; font-weight:bold; margin-top:45px; padding-bottom:45px;}
.blue { color:#09c;}

.kid-dashboard .left-col,
.parent-dashboard .left-col{
    background: #1b1b1b;
    height:100vh;
}
.kid-dashboard .left-col .logo{
    width: 500px;
    left: -10px;
}

.parent-dashboard .left-col .logo{
    width: 300px;
}

.kid-dashboard .left-col .gifts{
    padding: 20px 30px;
}

.kid-dashboard .left-col .gifts .gift{
    background: #f8d42f;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: right;
    margin-bottom: 10px;
}

.kid-dashboard .left-col .gifts .gift img{
}

.kid-dashboard .left-col .gifts .gift h1{
    font-family: 'Baloo Tamma', cursive;
    font-size: 25px;
    color: #1b1b1b;
}

.kid-dashboard .left-col .gifts .gift h1.points{
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

.kid-dashboard .left-col .gifts a,
.parent-dashboard .left-col .gifts a{
    padding:5px 10px;
    background: #6e3e0c;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-family:  'Chewy', cursive;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.kid-dashboard .left-col .opration-buttons,
.parent-dashboard .left-col .opration-button{
    padding: 20px 30px;
}

.kid-dashboard .left-col .opration-buttons a.logout,
.parent-dashboard .left-col .opration-buttons a.logout{
    background: #a50000;
    width: 50%;
    padding: 10px 10px;
    display: block;
    text-align: center;
    border-radius: 10px;
    font-family:  'Chewy', cursive;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    margin: auto;
}

.parent-dashboard .left-col .opration-buttons a.logout{
    font-size: 20px;
}

.kid-dashboard .left-col .opration-buttons a.logout:hover,
.parent-dashboard  .left-col .opration-buttons a.logout:hover{
    color: #fff;
}

.parent-dashboard .nav{
    padding: 20px 30px;
    text-align: center;
}

.parent-dashboard .nav li a{
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
}

.kid-dashboard .right-col,
.parent-dashboard .right-col{
    padding-left: 0;
}

.kid-dashboard .right-col .child-details {
    background: #18bc9c;
    overflow: hidden;
}

.kid-dashboard .right-col .child-details img.profile-img{
    border: 10px solid #1a6a5a;
}

.kid-dashboard .right-col .child-details .col-md-8{
    padding-left: 0;
}

.kid-dashboard .right-col .child-details .col-md-8 .username-col{
    margin-left: 20px;
    margin-top: 30px;
}

.kid-dashboard .right-col .child-details .username-col h2{
    color: #fff;
    font-family:  'Chewy', cursive;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
}

.kid-dashboard .right-col .child-details .username-col h3{
    color: #2c3e50;
    font-family: 'Baloo Tamma', cursive;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 60px;
}

.kid-dashboard .right-col .homework-list,
.parent-dashboard  .right-col .homework-list{
    background-image: url("../img/homework-back.png");
    height: 100vh;
    padding: 40px 20px;
}

.kid-dashboard .right-col .homework-list .homework-block{
    position: relative;
    margin-bottom: 20px;

}

.kid-dashboard .right-col .homework-list #active.homework-block{
    cursor: pointer;
}

.kid-dashboard .right-col .homework-list .homework-block .homework-desc{
    background: rgba(0,0,0,0.5);
    padding: 10px;
    color: #fff;
    font-family:  'Chewy', cursive;
    font-size: 20px;
}

.kid-dashboard .right-col .homework-list #active.homework-block img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.kid-dashboard .right-col .homework-list .homework-block img{
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

.parent-dashboard .parent-menu-bar{
    background: #18bc9c;
    overflow: hidden;
}

.parent-dashboard .parent-menu-bar .username-col{
    margin-top: 20px;
}

.parent-dashboard .parent-menu-bar .reminder-button{
    padding: 5px 10px 0;
    font-size: 15px;
    background: #2c3e50;
    line-height: 30px;
    margin: 15px;
    border-radius: 10px;
    color: #fff;
}

.parent-dashboard .parent-menu-bar .col-md-3{
    text-align: center;
    border-right: 2px solid #2c3e50;
}

.parent-dashboard .parent-menu-bar a{
    color: #2c3e50;
    font-size: 25px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    text-decoration:none;
    font-family: 'Luckiest Guy', cursive;
}

.parent-dashboard .parent-menu-bar .profile-img{
    border-radius: 20px;
    width: 70px;
    padding: 10px;
}

.portfolio-modal .homework-done-button{
    border-color: #ce0f32;
    font-size: 30px;
    text-transform: uppercase;
    background: #ce0f32;
    color: #fff;
    margin-top: 20px;
}

.parent-dashboard  .right-col .homework-list .homework-block{
    background: rgba(186, 76, 99, 0.5);
    overflow: hidden;
}

.parent-dashboard  .right-col .homework-list .col-md-3{
    margin-bottom: 20px;
}

.parent-dashboard  .right-col .homework-list .homework-block .homework-desc-inner{
    padding: 15px;
}

.parent-dashboard  .right-col .homework-list .homework-block img{
    margin-right: 10px;
}

.parent-dashboard  .right-col .homework-list .homework-block .homework-desc-inner h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.parent-dashboard  .right-col .homework-list .homework-block .homework-desc-inner span{
    padding: 4px 5px 0;
    background: #fff;
    color: #18bc9c;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Luckiest Guy', cursive;
}

.parent-dashboard  .right-col .homework-list .homework-block .homework-completed-button{
    padding: 4px 5px 0;
    background: #840b16;
    color: #f9f9f9;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Luckiest Guy', cursive;
    text-decoration: none;
}

#clock{
    width: 480px;
    padding: 40px;
    margin: 20px auto;
    position: relative;
}

#clock:after{
    content:'';
    position:absolute;
    width:400px;
    height:20px;
    border-radius:100%;
    left:50%;
    margin-left:-200px;
    bottom:2px;
    z-index:-1;
}


#clock .display{
    text-align:center;
    padding: 40px 20px 20px;
    border-radius:6px;
    position:relative;
    height: 54px;
}


/*-------------------------
	Light color theme
--------------------------*/

#clock.light{
    background-color: #18bc9c;
    color: #272e38;
    font-family:  'Chewy', cursive;
}

#clock.light:after{
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#clock.light .digits div span{
    background-color:#2c3e50;
    border-color:#2c3e50;
    font-family:  'Chewy', cursive;
}

#clock.light .digits div.dots:before,
#clock.light .digits div.dots:after{
    background-color:#272e38;
}

#clock.light .alarm{
    background:url('../img/alarm_light.jpg');
}

#clock.light .display{
    background-color:#fff;
    box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
	Dark color theme
--------------------------*/
#clock.dark{
    background-color:#272e38;
    color:#cacaca;
}

#clock.dark:after{
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#clock.dark .digits div span{
    background-color:#cacaca;
    border-color:#cacaca;
}

#clock.dark .alarm{
    background:url('../img/alarm_dark.jpg');
}

#clock.dark .display{
    background-color:#0f1620;
    box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after{
    background-color:#cacaca;
}


/*-------------------------
	The Digits
--------------------------*/
#clock .digits div{
    text-align:left;
    position:relative;
    width: 28px;
    height:50px;
    display:inline-block;
    margin:0 4px;
}

#clock .digits div span{
    opacity:0;
    position:absolute;
    -webkit-transition:0.25s;
    -moz-transition:0.25s;
    transition:0.25s;
}

#clock .digits div span:before,
#clock .digits div span:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border:5px solid transparent;
}

#clock .digits .d1{height:5px;width:16px;top:0;left:6px;}
#clock .digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
#clock .digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d2{			height:5px;width:16px;top:24px;left:6px;}
#clock .digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
#clock .digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

#clock .digits .d3{			height:5px;width:16px;top:48px;left:6px;}
#clock .digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
#clock .digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d4{			width:5px;height:14px;top:7px;left:0;}
#clock .digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d5{			width:5px;height:14px;top:7px;right:0;}
#clock .digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

#clock .digits .d6{			width:5px;height:14px;top:32px;left:0;}
#clock .digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d7{			width:5px;height:14px;top:32px;right:0;}
#clock .digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

#clock .digits div.one .d5,
#clock .digits div.one .d7{
    opacity:1;
}

/* 2 */

#clock .digits div.two .d1,
#clock .digits div.two .d5,
#clock .digits div.two .d2,
#clock .digits div.two .d6,
#clock .digits div.two .d3{
    opacity:1;
}

/* 3 */

#clock .digits div.three .d1,
#clock .digits div.three .d5,
#clock .digits div.three .d2,
#clock .digits div.three .d7,
#clock .digits div.three .d3{
    opacity:1;
}

/* 4 */

#clock .digits div.four .d5,
#clock .digits div.four .d2,
#clock .digits div.four .d4,
#clock .digits div.four .d7{
    opacity:1;
}

/* 5 */

#clock .digits div.five .d1,
#clock .digits div.five .d2,
#clock .digits div.five .d4,
#clock .digits div.five .d3,
#clock .digits div.five .d7{
    opacity:1;
}

/* 6 */

#clock .digits div.six .d1,
#clock .digits div.six .d2,
#clock .digits div.six .d4,
#clock .digits div.six .d3,
#clock .digits div.six .d6,
#clock .digits div.six .d7{
    opacity:1;
}


/* 7 */

#clock .digits div.seven .d1,
#clock .digits div.seven .d5,
#clock .digits div.seven .d7{
    opacity:1;
}

/* 8 */

#clock .digits div.eight .d1,
#clock .digits div.eight .d2,
#clock .digits div.eight .d3,
#clock .digits div.eight .d4,
#clock .digits div.eight .d5,
#clock .digits div.eight .d6,
#clock .digits div.eight .d7{
    opacity:1;
}

/* 9 */

#clock .digits div.nine .d1,
#clock .digits div.nine .d2,
#clock .digits div.nine .d3,
#clock .digits div.nine .d4,
#clock .digits div.nine .d5,
#clock .digits div.nine .d7{
    opacity:1;
}

/* 0 */

#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
    opacity:1;
}


/* The dots */

#clock .digits div.dots{
    width:5px;
}

#clock .digits div.dots:before,
#clock .digits div.dots:after{
    width:5px;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    top:14px;
}

#clock .digits div.dots:after{
    top:34px;
}


/*-------------------------
	The Alarm
--------------------------*/


#clock .alarm{
    width:16px;
    height:16px;
    bottom:20px;
    background:url('../img/alarm_light.jpg');
    position:absolute;
    opacity:0.2;
}

#clock .alarm.active{
    opacity:1;
}


/*-------------------------
	Weekdays
--------------------------*/


#clock .weekdays{
    font-size:12px;
    position:absolute;
    width:100%;
    top:10px;
    left:0;
    text-align:center;
}


#clock .weekdays span{
    opacity:0.2;
    padding:0 10px;
}

#clock .weekdays span.active{
    opacity:1;
}


/*-------------------------
		AM/PM
--------------------------*/


#clock .ampm{
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:12px;
}

#portfolio-filter{
    margin-left: 15px;
    margin-bottom: 10px;
}

#portfolio-filter li{
    display: inline-block;
    margin-right: 5px;
}

#portfolio-filter li a{
    padding: 10px 15px;
    color: #fff;
    background: #ba4c63;
    display: block;
    border-radius: 5px;
    text-decoration: none;
}